@model IEnumerable<Task5.Models.ClientView>

<div id="clients">
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
            </tr>
        }
    </table>

</div>